html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #23232e;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER */

header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-area: h;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    text-decoration: none;
}
  
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
}

  
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list a {
    color: white;
    text-decoration: none;
}
  
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
  
.mobile-menu {
    display: none;
    cursor: pointer;
}
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}
  
@media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.active .line2 {
    opacity: 0;
}
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* MAIN */

main {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-area: m;
}

.card {
    background-color: white;
    padding: 30px;
    margin-top: 20px;
}

.saiba-mais {
    font-size: 17px;
    text-transform: uppercase;
    float: right;
    text-decoration: underline;
    list-style: none;
}

aside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-area: a;
}

/* FOOTER */

footer{
    position: absolute;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background: #23232e;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 20px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    margin-right: 50px;
}
.socials li{
    margin: 0 15px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}


/* PAGE 2 CONTATO */

.contato-title {
    margin-top: 150px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.contato-title h1 {
    font-size: 32px;
    line-height: 10px;
}

.contato-title h2 {
    font-size: 16px;
}

form {
    margin-top: 60px;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: white;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    height: 45px;
}

form .submit {
    background: #ff5722;
    border-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 38px;
}

form .submit:hover{
    background-color: #f44336;
    cursor: pointer;
}